@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app{
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus{
  outline: none;
 }

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main{
  min-height: 100%
}

.app-container {
  padding: 20px;
  background-color: rgb(240, 242, 245);
  min-height: 923px;
  .chart-wrapper {
    background: #fff;
    padding: 16px 16px 0;
    margin-bottom: 32px;
  }
  .row {
    padding: 16px;
    margin-bottom: 20px;
  }
  .row-bottom{
    margin-bottom: 20px;
  }
  .el-col {
    margin:0;
    border-radius: 4px;
  }
  .bg-white {
    background: #fff;
  }
  .bg-content{
    min-height: 120px;
  }
  .chart-filter{
    margin: 20px 0 20px;
  }
  .filter-right{
    float: right;
  }
  .green-btn{
    color: #fff;
    background-color: #16b8bd;
    border-color: #16b8bd;
    width:130px;
  }
  .green-btn-min{
    color: #fff;
    background-color: #16b8bd;
    border-color: #16b8bd;
  }

  .btn-bottom{
    margin-bottom: 20px;
  }
  hr{
    border:0;
    background-color:#f3f3f3;
    height:1px;
  }
}
.pagination-container {
  margin-top: 20px;
}
.w-50{
  width: 50%;
}

.w-100{
  width: 100px!important;
}
.w-130{
  width: 130px!important;
}
.w-150{
  width: 150px!important;
}
.w-180{
  width: 180px!important;
}
.w-230 {
  width: 230px!important;
}

.p-l-60{
  padding-left: 60px!important;
}
.p-l-50{
  padding: 40px 150px!important;
}
.m-l-20{
  margin-left: 50px;
}
.m-r-50{
  margin-right: 50%;
}
.m-t-10{
  margin-top: 10px;
}
.m-bt-20{
  margin-bottom: 20px;
}

.el-f-r{
  float: right;
  margin-right: 50px;
}

.filter-item {
  width:330px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;
}

.is-hide{
  display:none;
}



